<!DOCTYPE html>
<html>
<head>
<title>Capsuul - <%= user.email %></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="shortcut icon" type="image/png" href="http://chathamkentweddingshow.com/wp-content/themes/website/data/img/favicon/c.png"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
    </style>
    <meta name="viewport" content="width=device-width">
</head>
<body>

<!-- nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Capsuul</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a><%= user.email %></a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Capsule List -->
<div style="height:100vh;padding-top:50px">

    <!-- INSERT iterative code to search DB for Capsules here -->
    <% for(var i=0; i < capsule.length; i++) { %>
        <a href="/capsule?id=<%= capsule[i]._id%>">
            <blockquote>
                <p><%= capsule[i].capsuleName %></p>
                <small>created <cite title="Source Title"><%= capsule[i].date %></cite></small>
            </blockquote>
        </a>
        <!--
          <div style="padding:20px;background-color:#eeeeee"><a href=""><%= capsule[i].capsuleName %></a></div>
        -->
    <% } %>



    <!-- This link should pop-up create menu -->
    <div style="position:absolute;padding-left:20px;bottom:20px">
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" >New Capsule</button>
    </div>
</div>

<!-- Modal Dialog -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">New Capsule</h4>
      </div>
      <form action="/newcapsule" method="post" name="newcapsule">
          <div class="modal-body">
              <div class="form-group">
                <label for="capsuleName" class="control-label">Capsule name</label>
                <input type="text" class="form-control" name="capsuleName">
              </div>
              <div class="form-group">
                <label for="invitee" class="control-label">Invite friends</label>
                <textarea class="form-control" name="invitee"></textarea>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
      </form>
    </div>
  </div>
</div>


<!-- Main content -->
<!--
<div style="padding-top:50px" class="container">
    <div class="row">
        <form action="/newcapsule" method="post" name="newcapsule">
            <div class="form-group">
                <textarea class="form-control" name="capsuleEntry"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</div>
-->

</body>
</html>